:root {
  /* Colors */
  --dev_color: #213631;
  --ux_color: #cab5f6;
  --main_text_color: #fcf3e7;
  --secondary_text_color: #a693cd;
  --pink: #e1758c;
  --dark_purple: #544c64;

  /* Font family */
  --main_font: "League Gothic", Sans-Serif;
  --secondary_font: "Source Sans Pro", Sans-Serif;

  /* Font sizes */
  --extra-small-text: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
  --small-text: clamp(0.83rem, calc(0.81rem + 0.12vw), 0.90rem);
  --regular-text: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
  --h2-size: clamp(2.07rem, calc(1.64rem + 1.17vw), 2.75rem);
  --h1-size: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
  height: 100px;
  width: 100%;
  display: grid;
  align-content: center;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav ul {
  font-family: var(--secondary_font);
  font-weight: 600;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-size: var(--h2-size);;
}

.nav-item a:hover {
  color: var(--pink);
}

.little_title {
  font-family: var(--secondary_font);
  text-align: center;
  font-size: 45px;
}

.h2_dev {
  color: var(--main_text_color);
}

.h2_ux {
  color: var(--secondary_text_color);
}

.title {
  font-family: var(--main_font);
  font-size: 250px;
  text-align: center;
}

.text_ux {
  color: var(--secondary_text_color);
}

.text_default {
  color: var(--main_text_color);
}

section {
  display: flex;
}

.dev_side {
  background-image: url("./images/dev_side.png");
  width: 50%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  position: relative;
}

.ux_side {
  background-image: url("./images/uxside.png");
  width: 50%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  position: relative;
}

footer {
  height: 50px;
  display: flex;
  place-content: center end;
  gap: 20px;
}

footer a {
  text-decoration: none;
  font-family: var(--secondary_font);
  font-size: var(--regular-text);
  font-weight: 600;
  margin-right: 35px;
}

a, a:visited, a:active {
  color: inherit;
}

.hide_portfolio_title{
  background-color: #e1758c;
  font-family: var(--secondary_font);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.ux_side:hover + .hide_portfolio_title {
  display: block;
}

#not-found {
  width: 100%;
  background-color: var(--dev_color);
  display: grid;
  place-items: center;
}

#not-found .container {
  text-align: center;
}

#not-found span {
  font-family: var(--main_font);
  color: var(--main_text_color);
  font-size: var(--h2-size);
  text-transform: uppercase;
}




