@use "../abstracts/mixins" as *;

.little_title {
  font-family: var(--secondary_font);
  text-align: center;
  font-size: 45px;
}

.title {
  font-family: var(--main_font);
  font-size: min(250px, 25vw);
  text-align: center;
}

.main-index {
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(90deg, var(--dev_color) 50%, var(--ux_color) 50%);
}

.index-container {
  display: flex;
  height: 100%;
  width: min(1280px, 80vw);
}

.dev_side,
.ux_side {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 15% 0;
}

.dev_side {
  background-image: url("../images/dev_side.png");
  background-position-x: right;
}

.ux_side {
  background-image: url("../images/uxside.png");
  background-position-x: left;
}

.ux_side:hover > .ux-circle,
.dev_side:hover > .dev-circle {
  opacity: 1;
  @include transition(0.55s, ease-in-out);
}

.dev-circle,
.ux-circle {
  opacity: 0;
  @include transition(1s, ease-in-out);
}

.circle {
  display: flex;
  place-content: center;
  place-items: center;
  background-color: var(--main_text_color);
  font-family: var(--secondary_font);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  padding: 20%;
  color: var(--pink) !important;
  aspect-ratio: 1 / 1;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 675px) {
  .title {
    font-size: 150px;
  }

  .index-container {
    display: block;
    width: 100%;
  }

  .dev_side,
  .ux_side {
    width: 100%;
  }

  .circle {
    width: 60%;
    border-radius: 2rem;
    position: static;
    aspect-ratio: unset;
    top: unset;
    left: unset;
    transform: unset;
    margin: 0 auto;
    padding: 5%;
  }

  .dev-circle,
  .ux-circle {
    opacity: 100;
  }
}
