.main-ux {
  width: 100%;
  background-color: #ea92a5;
}

.container-ux {
  display: grid;
  grid-gap: min(1.5rem, 3vw);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  padding: 1rem 0;
  width: min(1050px, 80vw);
}

.img {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
